html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EFC7;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Noto Sans;
    
}

#g2048 {
    /* background-color: black; */
    padding: 5px;
    border-radius: 10px;
}

.game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 360px;
    justify-content: center;
}

.cell {
    /* background-color: grey; */
    height: 80px;
    width: 80px;
    /* margin: 5px; */
    border-radius: 10px;
    background-position: center;
    background-size: 80px;
    background-image: url('./assets/plate.png');
}

.tile {
    /* color: aquamarine; */
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    /* background-color: red; */
    height: 57px;
    width: 100%;
    border-radius: 10px;
    padding-top: 23px;
}

/* header stuff */

.game-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-counter {
    color: black;
    /* text-align: center; */
    font-size: 15px;
    /* filter: drop-shadow(10px 5px 10px rgb(68, 136, 114)); */
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1  {
    color: black;
    text-align: center;
    font-size: 40px;
    /* filter: drop-shadow(10px 5px 10px rgb(68, 136, 114)); */
}

.red {
    color: red;
}




/* the sushi */

.two {
    background-image: url('./assets/maki-1.png');
    background-position: center;
    background-size: 80px;
}

.four {
    background-image: url('./assets/maki-2.png');
    background-position: center;
    background-size: 80px;
}

.eight {
    background-image: url('./assets/maki-3.png');
    background-position: center;
    background-size: 80px;
}

.sixteen {
    background-image: url('./assets/maki-4.png');
    background-position: center;
    background-size: 80px;
}

.thirty-two {
    background-image: url('./assets/maki-5.png');
    background-position: center;
    background-size: 80px;
}

.sixty-four {
    background-image: url('./assets/maki-6.png');
    background-position: center;
    background-size: 80px;
}

.one-twenty-eight {
    background-image: url('./assets/handroll-1.png');
    background-position: center;
    background-size: 80px;
}

.two-fifty-six {
    background-image: url('./assets/handroll-2.png');
    background-position: center;
    background-size: 80px;
}

.five-twelve {
    background-image: url('./assets/handroll-3.png');
    background-position: center;
    background-size: 80px;
}

.ten-twenty-four {
    background-image: url('./assets/nigiri-toro.png');
    background-position: center;
    background-size: 80px;
}

.twenty-forty-eight {
    background-image: url('./assets/nigiri-uni.png');
    background-position: center;
    background-size: 80px;
}